/* checker for space */
/* * {
  outline: 2px red solid;
} */

body {
  background-color: #F4EDD4;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  height: 100vh;
}

a {
  color: black;
  display: inline-block;
  line-height: 0;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

/* main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 600px;
}

/* nav sidebar */
nav {
  font-family: 'Bungee', sans-serif;
  width: 400px;
  overflow: auto;
  font-size: 30px;
  margin: 16px 16px 0px 0px;
  text-align: left;
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px 20px;
  margin: 5px;
}

nav li.active {
  background-color: #854B20;
  border-radius: 10px;
}

nav li:hover:not(.active) {
  background-color: #B09537;
  border-radius: 10px;
}