/* checker for space */
/* * {
  outline: 2px red solid;
} */

body {
  background-color: #353228;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: auto;
  height: 100vh;
  color: #E1DACE;
}

a {
  color: #dbb253;
  display: inline-block;
  line-height: 0;
}

li>a {
  color: #E1DACE;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
  padding: 0;
  line-height: 1.5;
}

/* main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 600px;
}

/* nav sidebar */
nav {
  font-family: 'Bungee', sans-serif;
  width: 400px;
  overflow: auto;
  font-size: 30px;
  text-align: left;
  width: 200px;
  border-right: #E1DACE solid 2px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 5px 20px;
  margin: 5px 20px 5px 0;
  border-radius: 10px;
}

nav li.active {
  background-color: #854B20;
}

nav li:hover:not(.active) {
  background-color: #7b6529;
}